/* Small screen */

.card {
  margin-bottom: 1rem;
  text-align: center;
  width: 185px;
  height: 300px;
  display: inline-block;
}

.title {
  margin-bottom: 1rem;
  font-style: 2rem;
  color: #4361ee;
}


img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #4361ee;
}

.abbr {
    margin-left: 5px;
    color: rgb(106, 97, 97);
}

.row {
    display: flex;
    justify-content: space-between;
    
}

.link {
  text-decoration: none;
}

/* Medium Screen */
@media (min-width: 768px) {
  .card {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .card {
    flex-basis: 25%;
    padding: 1rem;
  }
}
